<h1> Portfolio Items</h1>

<%#ss= link_tag "Edit", portfolio(params[:id])_edit_path %>

<% @portfolio_items.each do |p| %>
  <p><%= p.title %></p>
  <p><%= p.subtitle %></p>
  <p><%= p.body %></p>
  <%= image_tag p.thumb_image unless p.thumb_image.nil? %>
  

<% end %>