<h1> Portfolio Items</h1>

<%= link_to "Create new item", new_portfolio_path %> | 


<%#ss= link_tag "Edit", portfolio(params[:id])_edit_path %>

<%= render partial: 'portfolio_item', collection: @portfolio_items %>
