<div class="app-card-container">
  <div class="card">
    <h1>About Me</h1>

    <hr>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "paris.jpg", width: 300, alt: "Eiffel tower", class: 'profile-img' %>
      </div>
      
      <div class="col-md-8">
        <p>Hello there! My name is 'Lolu, born couple of decades ago and I am a keen learner of computer related stuffs. Currently I am learning Ruby on Rails to be a full stack web developer using the Rails framework. After this journey, I will be stepping up further by joining the Lamba school online to study full stack web development using HTML, CSS, Javascript, NodeJs, C# and couple of other wonderful programming languages. This has been a wondeful journey and I can't wait to start a new career as a software engineer.</p>

        <p>
          <button
             class="btn btn-info"
             type="button"
             data-toggle="collapse"
             data-target="#jobHistory"
             aria-expanded="false"
             aria-control="jobHistory"
          >
             Job History
          </button>

          <button
             class="btn btn-info"
             type="button"
             data-toggle="collapse"
             data-target="#education"
             aria-expanded="false"
             aria-control="education"
          >
             Education
          </button>   
        </p>

        <p>
          <div class="collapse" id="jobHistory">
            <div class="card card-block">
              Job
            </div>
            <div class="card card-block">
              Driving
            </div>
            <div class="card card-block">
              Reading
            </div>
          </div>
            
          <div class="collapse" id="education">
            <div class="card card-block">
              Sleeping
            </div>
            <div class="card card-block">
              Video Game
            </div>
            <div class="card card-block">
              Adventure
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>



