<div class="app-card-container">
  <div class="card">
    <h1>About Me</h1>

    <hr>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "paris.jpg", width: 300, alt: "Eiffel tower", class: 'profile-img' %>
      </div>
      
      <div class="col-md-8">
        <p>Hello there! My name is 'Lolu, born couple of decades ago and I am a keen learner of computer related stuffs. Currently I am learning Ruby on Rails to be a full stack web developer using the Rails framework. After this journey, I will be stepping up further by joining the Lamba school online to study full stack web development using HTML, CSS, Javascript, NodeJs, C# and couple of other wonderful programming languages. This has been a wondeful journey and I can't wait to start a new career as a software engineer.</p>
      </div>
    </div>
  </div>
</div>



