<h1>Pages#contact</h1>

<p><%= number_to_phone "4565897563" %></p>

<p><%= number_to_currency "200" %></p>

<p><%= number_to_percentage "80.4" %></p>

<p><%= number_with_delimiter "4565897563" %></p>
